.list-label {
        font-weight: bold;
}

.list-group-item {
        display: flex !important;
        justify-content: space-between;

        .delete {
                transition: 0.2s;

                &:hover {
                        cursor: pointer;
                        transform: scale(1.5);
                }
        }

        .clickable:hover {
                cursor: pointer;
        }
}
