.upload {
        padding: 15px 0;

        display: flex;
        justify-content: space-between;

        width: 100%;

        button {
                display: flex;
                justify-content: center;
                align-items: center;
        }
}

.img-upload {
        padding: 15px;
        margin: 7px 0;

        align-items: center;
        position: relative;

        .delete-img {
                position: absolute;
                right: 15px;
                z-index: 2;

                display: flex;
                align-items: center;
                justify-content: center;

                transform: scale(1.2);
                transition: 0.2s;

                &:hover {
                        transform: scale(1.5);
                        cursor: pointer;
                }
        }

        .input-group {
                margin-bottom: 15px;
        }

        img {
                width: 100%;
                padding: 15px;

                border: 2px solid #000;
                border-radius: 4px;
        }
}
